/* НАЧАЛО ОБЩИЕ СТИЛИ */

/* НАЧАЛО подключаем шрифт 'Theano Didot': */
@font-face {
  font-family: 'Theano Didot';
  src: url('../fonts/theano_didot/TheanoDidot-Regular.ttf') format('truetype');
  font-weight: normal;
}
/* КОНЕЦ подключаем шрифт 'Theano Didot' */

//НАЧАЛО объявляем переменные SASS
$serif-font: 'Theano Didot', serif;
$main-color: #2a4650;
//КОНЕЦ объявляем переменные SASS

/* НАЧАЛО общие стили */
body {
  color: black;
  font-size: 16px;
  line-height: 1.2;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    color: inherit;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

h1 {
  font-size: 22px;
  @media (min-width: 768px) {
    font-size: 32px;
  }
}

h2 {
  font-size: 20px;
  @media (min-width: 768px) {
    font-size: 28px;
  }
}

h3 {
  font-size: 18px;
  @media (min-width: 768px) {
    font-size: 26px;
  }
}

.img {
  height: 200px;
  background: 50% 50%/cover;
}
.brand-underline::after {
  @media (min-width: 760px) {
    content: "";
    display: block;
    height: 4px;
    max-width: 75px;
    background: black;
    margin-top: 10px;
  }
}
.success-mail-text{
  text-align: center;
}
.uk-close-alt,
.uk-close-alt:hover,
.uk-modal-close {
  color: black;
}

.uk-modal-dialog-lightbox .uk-modal-close.uk-close {
  //top: -20px;
  //right: -20px;
  z-index: 1000;
  background: white;
  border-radius: 50%;
  &:hover {
    color: black;
  }
}

.breadcrumb-container {
  padding: 20px 15px 0;
  text-align: center;
  @media (min-width: 768px) {
    text-align: right;
  }
  a {
    font-weight: bold;
    font-size: 18px;
  }
  span {
    font-size: 18px;
  }
}

.uk-pagination>.uk-active>span {
  background: $main-color;
}
/* КОНЕЦ общие стили */

/* НАЧАЛО main-section */
.main-section {
  padding: 0;
  position: relative;

  /* НАЧАЛО header */
  header {
    background: none;
    @media (min-width: 480px) {
      background: rgba(255,255,255,.77);
    }
    padding: 0 20px 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    .logo-col {
      max-width: 200px;
      margin: 0 auto;
      @media (min-width: 960px) {
        float: left;
      }
      @media (min-width: 1220px) {
        margin-left: 100px;
      }
      img {
        display: block;
        margin: 0 auto;
        padding: 20px 0;
        @media (min-width: 960px) {
          padding-bottom: 0;
        }
      }
    }
    .navbar-and-contacts-col {
      @media (min-width: 960px) {
        float: right;
        padding-top: 20px;
      }
      .contacts {
        text-align: center;
        background: rgba(255,255,255,.77);
        padding: 1px 0;
        @media (min-width: 480px) {
          padding: 0;
          background: none;
        }
        @media (min-width: 960px) {
          padding-right: 15px;
          text-align: right;
        }

        a {
          display: block;
          margin-top: 10px;
          @media (min-width: 768px) {
            margin-top: 0;
            display: inline-block;
          }
          &:hover {
            color: lighten($main-color, 50);
          }
        }
      }

      .uk-navbar {
        background: transparent;
        &.uk-active {
          background: rgba(255,255,255,.9);
          left: 0;
          right: 0;
          border-bottom: $main-color 3px solid;
        }

        .uk-navbar-nav {
          float: none;
          text-align: center;
          &>li {
            float: none;
            display: inline-block;
            text-align: left;
            &.active {
              &>a {
                font-weight: bold;
              }
            }
            &>a {
              font-size: 18px;
            }
          }
          li.uk-open,
          li {
            a {
              background: transparent;
              color: black;

            }
            ul {
              font-size: 16px;
              li:hover {
                a {
                  background: lighten($main-color, 30);
                  color: white;
                }
              }
            }
          }
          li.uk-active,
          li:hover {
            &>a {
              color: lighten($main-color, 30);
            }
          }
        }
      }
    }
    .uk-dropdown {
      background: rgba(162, 190, 200, 0.85);
      border-radius: 3px;
      width: 350px;
      a {
        font-size: 14px;
      }
      @media (min-width: 767px) {
        &::after { //треугольник над дропдауном
          position: absolute;
          top: -6px;
          left: 31px;
          display: inline-block;
          border-right: 6px solid transparent;
          border-bottom: 6px solid rgba(162, 190, 200, 0.7);
          border-left: 6px solid transparent;
          content: '';
        }
      }
    }
  }
  /* КОНЕЦ header */

  .uk-slidenav-position {
    @media (min-height: 500px) and (min-width: 960px) {
      height: 100vh;
      overflow: hidden;
    }

    .uk-overlay-panel {
      position: relative;
      .overlay-content {
        color: black;
        text-align: center;
        font-family: $serif-font;
        font-size: 18px;
        padding: 20px;
        background: rgba(255,255,255,.77);

        @media (min-width: 960px) {
          position: absolute;
          width: 450px;
          right: 0;
          bottom: 350px;
          text-align: right;
        }
        h2 {
          font-family: $serif-font;
        }
      }
    }
  }
}
/* КОНЕЦ main-section */

.uk-offcanvas {
  .uk-nav-sub {
    font-size: 14px;
    padding: 0;
    li a {
      padding: 10px 15px 10px 15px;
    }
    li:nth-of-type(odd) {
      background: #555555;
    }
    li:nth-of-type(even) {
      background: #505050;
    }
  }
}


/* НАЧАЛО footer */
footer {
  background: black;
  color: white;
  padding: 15px 0 10px;
  text-align: center;
  @media (min-width: 768px) {
    padding: 50px 0 40px;
  }
  .uk-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 15px;
    @media (min-width: 768px) {
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
    }
    &>* {
      margin-top: 15px;
      @media (min-width: 768px) {
        margin-top: 0;
      }
    }
    h4 {
      margin-bottom: 10px;
      color: white;
      font-size: 18px;
    }
    p {
      margin-top: 3px;
    }
    .logo {
      max-width: 200px;
    }
    .contacts {
      .phone-number {
        display: block;
        margin-top: 5px;
      }
    }

    .work-time-and-request {
      text-align: center;
      .social {
        a {
          display: inline-block;
        }
        a + a {
          margin-left: 10px;
        }
      }
      .summary {
        margin-top: 10px;
        color: white;
      }
      input {
        display: block;
        width: 100%;
        max-width: 250px;
        margin: 0 auto 15px;
        padding: 5px;
        box-sizing: border-box;
        border: none;
        border-radius: 3px;
      }
    }
  }
}
/* КОНЕЦ footer */

/* НАЧАЛО сине-черная декор полоска */
.decorative-line {
  padding: 0;
  height: 13px;
  display: flex;
  .blue {
    flex: 1;
    background: $main-color;
  }
  .black {
    flex: 4;
    background: black;
  }
}
/* КОНЕЦ сине-черная декор полоска */

/* НАЧАЛО services (подраздел главной)*/
.services {
  padding: 35px 0;
  h2 {
    text-align: center;
  }
  li {
    display: flex;
    flex-flow: column;
    margin-bottom: 35px;
    a {
      flex: 1;
      display: flex;
      flex-flow: column;
      color: white;
      &:hover {
        color: $main-color;
      }
    }
    .img {
      height: 200px;
      background: 50% 50%/cover;
    }
    .text-section {
      flex: 1;
      display: flex;
      flex-flow: column;
      background: #ddd;
      padding: 0;
      text-align: center;
      background: $main-color;
      h3 {
        color: white;
        padding: 15px;
        margin-bottom: 0;
      }
    }
  }
}
/* КОНЕЦ services (подраздел главной)*/

/* НАЧАЛО gallery (подраздел главной)*/
.gallery {
  background: #f4f4f4;
  padding: 15px 0 50px;

  h2 {
    text-align: center;
    text-transform: uppercase;
  }

  .data-uk-slider {
    text-align: center;
    @media (min-width: 760px) {
      padding: 0 70px;
    }

    li {
      a {
        box-sizing: content-box;
        display: block;
        width: 100%;
        height: 220px;
        background: 50% 50%/cover;
      }
      a + a {
        margin-top: 15px;
      }
    }

    .uk-slidenav {
      display: block;
      width: 25px;
      height: 41px;
      img {
        display: none;
        @media (min-width: 760px) {
          display: block;
        }
      }
    }
    @media (min-width: 760px) {
      .uk-slidenav-previous {
        &::before {
          content: none;
        }
      }
      .uk-slidenav-next {
        &::before {
          content: none;
        }
      }
    }
  }
}
/* КОНЕЦ gallery (подраздел главной)*/

/* НАЧАЛО request оставить заявку консультация */
.request {
  background: #e4e4e4;
  font-size: 18px;
  padding: 20px;
  @media (min-width: 768px) {
    padding: 50px 75px;
  }
  .summary {
    float: none;
    text-align: center;
    @media (min-width: 760px) {
      text-align: left;
      float: left;
    }
  }

  form {
    float: none;
    @media (min-width: 760px) {
      margin: 0;
      float: right;
    }
    input:not([type=submit]) {
      box-sizing: border-box;
      display: block;
      border: 3px solid black;
      width: 100%;
      padding: 6px;
      margin-bottom: 15px;
      background: transparent;
      min-width: 1px;
    }
    input[type=submit] {
      border: none;
      color: white;
      cursor: pointer;
      font-size: 16px;
      padding: 8px 20px;
      float: right;
      background: $main-color;
      &:hover {
        background: lighten($main-color, 30);
      }
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #333;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #333;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #333;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #333;
    }
  }
}
/* КОНЕЦ request оставить заявку консультация */

/* НАЧАЛО news (подраздел главной)*/
.news {
  padding: 30px 0;

  h2 {
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 0;
  }
  h3 {
    a {
      color: $main-color;
    }
  }
  article {
    text-align: justify;
    margin-top: 30px;
  }
}
/* КОНЕЦ news (подраздел главной)*/

/* НАЧАЛО news (подраздел главной)*/
.cerificates {
  background: #f4f4f4;
  padding: 30px 0;

  h2 {
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 0;
  }
  .certificate-item {
    margin: 30px 0 0;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    img {
      max-width: 300px;
    }
    div {
      margin: 20px;
      text-align: justify;
      @media (min-width: 768px) {
        text-align: left;
        flex: 0 0 350px;
        margin-left: 40px;
      }
    }
  }
}
/* КОНЕЦ news (подраздел главной)*/

/* НАЧАЛО reviews (подраздел главной)*/
.reviews {
  padding: 30px 0;

  h2 {
    text-align: center;
    text-transform: uppercase;
  }

  .data-uk-slider {
    text-align: center;
    @media (min-width: 760px) {
      padding: 0 70px;
    }

    ul.uk-slider {
      display: flex;
      li {
        .content-wrapper {
          background: 50% 50%/100% 100% url("../img/review-backround.png");
          padding: 25px 35px 25px 25px;
          font-size: 14px;
          line-height: 1.6;
          .name {
            font-size: 18px;
            text-transform: uppercase;
            &::after {
              margin-left: auto;
              margin-right: auto;
            }
          }
          &::before {
            content: url("../img/review-pin.png");
            position: absolute;
            left: 30px;
            top: 15px;
          }
          &::after {
            content: url("../img/review-pin.png");
            position: absolute;
            right: 30px;
            top: 15px;
          }
        }
        &::before {
          content: url("../img/review-pin.png");
          position: absolute;
          left: 30px;
          bottom: 20px;
        }
        &::after {
          content: url("../img/review-pin.png");
          position: absolute;
          right: 30px;
          bottom: 20px;
        }
      }
    }

    .uk-slidenav {
      display: block;
      width: 25px;
      height: 41px;
      img {
        display: none;
        @media (min-width: 760px) {
          display: block;
        }
      }
    }
    @media (min-width: 760px) {
      .uk-slidenav-previous {
        &::before {
          content: none;
        }
      }
      .uk-slidenav-next {
        &::before {
          content: none;
        }
      }
    }
  }
}
/* КОНЕЦ reviews (подраздел главной)*/

/* НАЧАЛО send-review (подраздел главной)*/
.send-review {
  padding: 30px 0;

  h2 {
    text-align: center;
    text-transform: uppercase;
  }


  .col-form {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
    form {
      .uk-width-medium-1-1 {
        padding-top: 15px;
      }
      input,
      textarea {
        border: 1px solid black;
        font-size: 18px;
        min-width: 1px;
      }
      label {
        display: block;
        margin-top: 5px;
      }
      input:not([type=submit]) {
        width: 100%;
        display: block;
        padding: 6px 0;
      }

      textarea {
        width: 100%;
        display: block;
        resize: none;
        padding: 6px 0;
      }

      input[type=submit] {
        background: transparent;
        float: right;
        margin-top: 15px;
        padding: 6px 25px;
        cursor: pointer;
        &:hover {
          background: lighten($main-color, 30);
          color: white;
          border: 1px solid lighten($main-color, 30);
        }
      }
    }
  }

}
/* КОНЕЦ send-review (подраздел главной)*/

/*----------------------------
  НАЧАЛО страницы Галерея
----------------------------*/
.body.body-gallery {
  .main-section {
    min-height: 40vh;
    background: 50% 50%/cover url("../img/main-background.jpg");
    header {
      position: static;
    }
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .gallery-on-gallery-page {
    margin-bottom: 15px;
    .uk-grid {
      &>div {
        margin-top: 25px;
          a {
            box-sizing: content-box;
            width: 100%;
            height: 250px;
            display: flex;
            flex-flow: column;
            justify-content: flex-end;
            background: 50% 50%/cover;
            span {
              display: block;
              margin: 0;
              padding: 5px 10px;
              background: $main-color;
              color: white;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
    }
  }

}

/*----------------------------
  КОНЕЦ страницы Галерея
----------------------------*/

/*----------------------------
  НАЧАЛО страницы Список статей
----------------------------*/
.body.body-articles-list {
  .main-section {
    min-height: 40vh;
    background: 50% 50%/cover url("../img/main-background.jpg");
    header {
      position: static;
    }
  }

  .articles-list-section {
    text-align: justify;
    h1 {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    h3 {
      a {
        text-transform: capitalize;
        color: $main-color;
      }
    }
    .read-more {
      color: $main-color;
      float: right;
    }

  }

}

/*----------------------------
  КОНЕЦ страницы Список статей
----------------------------*/


/*----------------------------
  НАЧАЛО страницы Список статей
----------------------------*/
.body.body-single-article {
  .main-section {
    min-height: 40vh;
    background: 50% 50%/cover url("../img/main-background.jpg");
    header {
      position: static;
    }
  }

  .single-article-section {
    text-align: justify;
    h1 {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    h3 {
      a {
        text-transform: capitalize;
        color: $main-color;
      }
    }
    img.img-big {
      width: 100%;
    }
    .text-section {
      font-size: 18px;
      padding: 15px 0;
      @media (min-width: 768px) {
        padding: 15px 50px;
      }
      &::after {
        content: "";
        background: $main-color;
        height: 2px;
        display: block;
      }
    }
    .prev-next {
      padding: 15px;
      @media (min-width: 768px) {
        padding: 15px 50px 25px;
      }
      a {
        color: $main-color;
      }
      *:nth-child(1) {
        float: left;
      }
      *:nth-child(2) {
        float: right;
      }
    }

  }

}

/*----------------------------
  КОНЕЦ страницы Список статей
----------------------------*/